@import "Vue.css";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: beige;
}

#app {
    height: 100%;
}

* {
    font-size: 18px;
    color: black;
}

table {
    width: 100%;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

.global-input {
    cursor: pointer;
}
.global-input:active {
    background-color: gray;
}

.clickable {
    cursor: pointer;
}

.menu-page {
    height: 100%;
    width: 80%;
    overflow: auto;
}