@import "Vue.css";

html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

.global-input {
    border-radius: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.global-input:active {
    background-color: gray;
}

.clickable {
    cursor: pointer;
}